$header-height: 60px;
$message-form-height: 60px;
$border: 1px solid rgba(0, 0, 0, 0.1);

.chat-header {
	display: flex;
	justify-content: flex-end;
	position: relative;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: $border;
	height: $header-height;
}

.chat-content-users {
	border-right: $border;
	// padding: 0 !important;

	.ui.list > .item {
		position: relative;

		.ui.circular.label {
			position: absolute;
			bottom: 0;
			left: 20px;
		}
	}
}

.chat-content-messages {
	position: relative;
	padding: 0 !important;

	.messages-container {
		height: calc(100vh - #{$header-height + $message-form-height});
		padding: 1rem;
		overflow-y: auto;
	}

	.ui.form {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: $message-form-height;

		.fields {
			margin-bottom: 0;
		}

		textarea {
			resize: none;
		}
	}

	.ui.feed > .event {
		margin-bottom: 1rem;

		.content {
			max-width: 50%;
			padding: 1rem;
			background: rgba(0, 0, 0, 0.1);
			border-radius: 1.3rem;

			.extra {
				margin: 0;
			}
		}

		&.user {
			justify-content: flex-end;

			.content {
				background: rgba(24, 218, 6, 0.1);
			}
		}
	}
}

.ui.grid {
	height: calc(100vh - #{$header-height});
	margin: 0;
}
